<html>
  <head>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <style type="text/css">
      .axis path,
      .axis line {
        fill:none;
        stroke:black;
        /*shape-rendering: crisp-Edges;*/
      }
      .axis text {
        font-family: sans-serif;
        font-size: 11px;
      }
  </style>
  </head>
  <body>
    <script type="text/javascript">


    d3.csv('/resources/S&P.csv', function(file){
      // console.log(file);

      var canvasWidth = 550;
      var canvasHeight = 250;
      var xPad = 50;
      var yPad = 50;


      var heightScale = d3.scale.linear()
                        .domain([24,0])
                        .range([0,canvasHeight - yPad]);

      var widthScale = d3.scale.linear()
                      .domain([-0.3, 0.7])
                      .range([0,canvasWidth - xPad]);

      var xAxis = d3.svg.axis()
                  .scale(widthScale)
                  .orient('bottom');

      var yAxis = d3.svg.axis()
                  .scale(heightScale)
                  .orient('left');

      var canvas = d3.select('body').append('svg')
          .attr('width', canvasWidth)
          .attr('class', 'axis')
          .attr('height', 500);


      //CANVAS TRANSLATIONS DO NOT ADJUST DYNAMICALLY
      //PADDING: 25PX ABOVE AND BELOW AXES, 50PX ON THE LEFT
      canvas.append('g')
        .attr('transform', 'translate(50,225)')
        .call(xAxis);

      canvas.append('g')
        .attr('transform', 'translate(50,25)')
        .call(yAxis);


      var binNum = 7;

      function renderPoint(i){

        var data = [];
        for (var j=0; j<24; j++){
          console.log(file[i-j]);
          data.push(file[i-j]);
        }

        var date = file[i]['Date'];
        var price = file[i]['S&P Price']
        console.log(date, price);

        var mapFun = data.map(function(x){
          var datum = Number(x['Return'].replace(',',''))
          return datum;
        });

        var hist = d3.layout.histogram()
          .bins(binNum)
          (mapFun);

        //console.log(hist)

        var bars = canvas.selectAll('.bar')
          .data(hist)
          .enter()
          .append('g');

        var min = hist[0][0];
        var max = hist[binNum - 1][hist[binNum - 1].length - 1];

        var xMap = function(x){
          return (50 + (x + 0.3)*canvasWidth) ;
        }

        //does this actually set height correctly?
        var yMap = function(y){
          return (y*200/24);
        }

        var base = function(y){
          return (225 - yMap(y))
        }

        var getWidth = function(max, min){
          return ((xMap(max) - xMap(min))/binNum)*(0.95)
        }

        bars.append('rect')
          .attr('x', function(d){return xMap(d.x);})
          .attr('y', function(d){
            console.log(d.y);
            return base(d.y)})
          .attr('width', function(d){return getWidth(max,min);})
          .attr('height', function(d){return yMap(d.y);})
          .attr('fill', 'steelBlue');


        //RECURSION FOR ANIMATION - TAKE IT OUT LATER
        setTimeout(function(){
          if (i+1 < file.length){
            bars.remove();
            renderPoint(i+1);
          }
        }, 100)

      }

      renderPoint(1000);


    });

    // TO DO:
    //physical sizing of bins
    // get dial that corresponds to adjust date/price with hist
    //get coloring included


    </script>
  </body>
</html>