<html>
  <head>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/d3.timeline.event-horizon.css" />
    <script type="text/javascript" src="javascripts/d3.timeline.event-horizon.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>


  </head>
  <body>
    <script src="javascripts/main.js"></script>
    <div class='row jumbotron'>
      <div id="timeline">
        <p id="date">January, 1873</p>
        <!-- <h2>5.11</h2> -->
      </div>
    </div>
    <div class="row">
      <div id="plot" class="col-md-6 col-sm-12"></div>
      <div id="hist" class="col-md-6 col-sm-12"></div>
    </div>

  </body>
</html>

      <!-- <h2>5.11</h2>
      <div class='btn-bar'>
        <span class='glyphicon glyphicon-pause' onclick='pause()'></span>
        <span class='glyphicon glyphicon-play' onclick='play(counter)'></span>
        <span class='glyphicon glyphicon-forward' onclick='slowDown()' ></span>
        <span class='glyphicon glyphicon-fast-forward' onclick='speedUp()'></span>
      </div> -->