body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.axis path,
.axis line {
  fill:none;
  stroke:black;
}
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

#date{
  font-size: 4em;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

#ctrl{
  position:relative;
/*  bottom: 0;
  left: 0px;*/
 /* width: 100%;
  max-width: 500px;*/
  bottom:-25px;
  left: -15px;
  margin-top: 50px;
  text-align: left;
}

h1{
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}
h2{
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}
body{
  text-align: center;
}

span.glyphicon{
  font-size: 25px;
/*  margin-right: 10px;
  margin-left: 10px;*/
}
.btn-bar{
  margin-top: 50px;
}